@keyframes blinkAnimation {
  50% {
    opacity: 0;
  }
}
@keyframes snowFall {
  0% {
    transform: translateX(-10) translateY(-10);
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    /* transform: translateX(-20px); */
    transform: translateX(0px) translateY(30vh);
    width: 1px;
    opacity: 0;
  }
}

body {
  border: solid burlywood;
  padding: 0.5em;
}
@media (max-width: 1490px) {
  body {
    font-family: Cinzel;
    background-color: rgb(109, 71, 40);
  }
  .coffeeCup {
    opacity: 0.3;
    width: 60%;
    height: 122px;
  }
  .cafeHold {
    border: solid black;
    display: flex;
  }
  .splasher {
    /* border:solid white; */
    width: 60%;
  }
  .holderContainer {
    /* border:solid black; */
    width:50%;
    display: block;
  }
  .woffordContainer {
    /* border: solid black; */
    /* height:32px; */
    width: 100%;
    margin-top: 4em;
  }
  .logoBank {
    /* border: 0.2px solid burlywood; */
    width: auto;
    align-items: center;
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
  }
  .logoGod {
    display: flex;
    justify-content: space-evenly;
    border: 0.2px solid white;
    margin: 1em;
    font-size:32px;
  }
  .viewContainer{
    border:solid burlywood;
    width:90%;
    border-width:.2px;
  border-radius:0;
  background-image:url('https://i.gifer.com/origin/e6/e6e1a052277f8e381ab7b8250493c017.gif');
  background-size: cover;
  }
  .spaceGod {
    margin: .2em;
    display: flex;
    justify-content: space-between;
    /* height:44vh; */
    
  }
  .selectItem {
    border: 6px double black;
    width: 40%;
    color: burlywood;
    font-size: 22px;
    text-align: center;
  }
}
@media (max-width: 990px) {
  body {
    font-family: Cinzel;
    background-color: rgb(109, 71, 40);
  }
  .coffeeCup {
    opacity: 0.3;
    width: auto;
    height: auto;
  }
  .cafeHold {
    display: flex;
  }
  .splasher {
    /* border:solid white; */
    width:60%;
  }
  .holderContainer {
    display: block;
    width: 100%;
  }
  .woffordContainer {
    /* border: solid black; */
    /* height:32px; */
    width: 100%;
    margin-top: 4em;
  }
  .logoBank {
    /* border: 0.2px solid burlywood; */
    width: 40%;
    align-items: center;
    padding: 2px;
    display: block;
  }
  .logoGod {
    display: flex;
    justify-content: space-evenly;
    border: 0.2px solid white;
    margin: 1em;
    font-size:32px;
  }
  .viewContainer {
    border: solid burlywood;
    width: 60%;
    border-width: 0.2px;
    border-radius: 0;
    background-image: url("https://i.gifer.com/origin/e6/e6e1a052277f8e381ab7b8250493c017.gif");
    background-size: cover;
  }
  .spaceGod {
    margin: .2em;
    display: flex;
    justify-content: space-between;
    /* height:44vh; */
    
  }
  .selectItem {
    border: 6px double black;
    width: 40%;
    color: burlywood;
    font-size: 12px;
    text-align: center;
  }
}
@media (max-width: 690px) {
  body {
    background-color: rgb(109, 71, 40);
    color: white;
    font-family: Cinzel;
  }
  .coffeeCup {
    opacity: 0.3;
    width: auto;
    height: auto;
  }
  .cafeHold {
    display: block;
  }
  .splasher {
    /* border:solid white; */
    width: 100%;
  }
  .holderContainer {
    /* border:solid black; */
    display: flex;
    width: 100%;
  }
  .woffordContainer {
    /* border: solid black; */
    /* height:32px; */
    width: 100%;
    margin-top: 0;
  }
  .logoBank {
    /* border: 0.2px solid burlywood; */
    width: auto;
    align-items: center;
    padding: 2px;
    display: flex;
  }
  .logoGod {
    display: flex;
    width:33%;
    /* border: 0.2px solid white; */
    margin: 0;
    font-size:32px;

  }
  .viewContainer {
    border: solid burlywood;
    width: 100%;
    height:34vh;
    border-width: 0.2px;
    border-radius: 0;
    background-image: url("https://i.gifer.com/origin/e6/e6e1a052277f8e381ab7b8250493c017.gif");
    background-size: cover;
  }
  .spaceGod {
    margin: .2em;
    display: block;
    justify-content: space-between;
    /* height:44vh; */
    
  }
  .selectItem {
    border: 6px double black;
    width: 40%;
    color: burlywood;
    font-size: 18px;
    text-align: center;
  }
}

.navContainer {
  /* border: 0.2px solid white; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.tabContainer {
  /* border:solid red; */
  display: flex;
  color: burlywood;
  justify-content: space-around;
  width: 105%;
}
.logo {
  height: 80px;
}

.javaContainer {
  border: 0.2px solid black;
  display: flex;
  /* background-image: url('https://media3.giphy.com/media/azqIclO2IYLqBbGJAT/giphy.gif?cid=6c09b9522i7vwh72tl1943xmrq0o17t8hi6zzqiwmr62sqxl&ep=v1_gifs_search&rid=giphy.gif&ct=g'); */
  background-size: cover;
  opacity: 0.3;
}
.hiddenTool {
  border: solid red;
  display: none;
}
.optionContainer {
  border: 0.2px solid white;
  height: 55vh;
  margin: 1.2em;
}

.catcherCup {
  margin-top: 50%;
  height: 150px;
}
.coffeebean {
  position: absolute;
  top: 89vh; /* Start slightly above the viewport */
  left: 50%; /* Center horizontally (can be randomized for multiple snowflakes) */
  width: 30px; /* Size of the snowflake */
  height: 30px;
  opacity: 1;
  animation: snowFall 5s linear infinite; /* Adjust duration for speed */
  margin: 1em;
}
.test {
  border: solid green;
  height: 22px;
  display: flex;
  justify-content: space-evenly;
}
.spacer {
  height: 200px;
}
.cafeController {
  border: 0.2px solid white;
  display: flex;
  justify-content: space-evenly;
}
.savingsBlock {
  border: solid white;
  display: flex;
  justify-content: space-evenly;
  font-size: 45px;
}

.insertPH {
  border: 0.2px solid white;
  margin: 0.3em;
  width: 40px;
  color: burlywood;
  text-align: center;
}
.scoreboard {
  border: solid black;
  color: burlywood;

  /* display:flex; */
  justify-content: space-between;
  background-color: black;
}

.formContainer {
  border: solid black;
  width: 100%;
  text-align: center;
  background-image: url("https://static.wixstatic.com/media/85280f_714295dcf05a49079fb30f84eca48b6f~mv2_d_2084_1251_s_2.png/v1/fill/w_524,h_264,al_c,q_85,usm_2.00_1.00_0.00,enc_avif,quality_auto/85280f_714295dcf05a49079fb30f84eca48b6f~mv2_d_2084_1251_s_2.png");
  /* padding:12px; */
}

.playerStart {
  text-align: right;
}
.game-container {
  position: relative;
  width: 600px;
  height: 500px;
  border: 2px solid black;
  overflow: hidden;
  background-color: burlywood;
  margin: 1em;
}

.movable {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
  transform: translateX(-50%);
}

.intractable {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: rgb(63, 40, 27);
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

.local {
  /* border:solid navy; */
  margin: 1em;
}
.north,
.south {
  /* border:solid black; */
  /* height:22px; */
  display: flex;
  justify-content: space-evenly;
  margin: 1em;
}

.selectItem:hover {
  border: 0.2px solid black;
  width: 40%;
  text-align: center;
  -webkit-box-shadow: 1px 6px 16px 3px #834315;
  box-shadow: 1px 6px 16px 3px #834315;
}

.shadowScrn {
  text-align: center;
  color: white;
}
.employeePic {
  width: 100%;
}
.gameUpper {
  margin: 2em;
  text-align: center;
  font-size: 16px;
}
.meanMug {
  height: 225px;
}
.sza {
  /* border:solid red; */
  position: absolute;
  text-align: center;
  width: 150px;
  margin-left: 33%;
  color: white;
  height: 32px;
  margin-top: 15%;
}
.subMain {
  border: solid black;

  color: burlywood;
  width: 70%;
}


.logoGod:hover {
  /* border:solid burlywood; */
  align-items: center;
  color: burlywood;
}
.godImg {
  /* border:solid red; */
  height: 40px;
  width: 40px;
  align-items: center;
}
.godTxt {
  font-size: 12px;
  text-align: center;
}

.spaceGod2{
  border:solid black;
  height:auto;
  padding:2em;
  margin:1em;
  display:block;
}
.poster{
  border: 6px double beige;
  width:100%;
}
.bein{
  text-align:center;
  margin:.3em;
}
.bein2{
  text-align: center;
  margin:.3em;
}
.fontdiner-swanky-regular {
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
  font-style: normal;
  color:beige
}
.poster:hover{
  -webkit-box-shadow: 1px 6px 16px 3px #d69c72;
  box-shadow: 1px 6px 16px 3px #df935d;
}