@keyframes blinkAnimation {
  50% {
      opacity: 0;
  }
}
@keyframes snowFall {
  0% {
    transform: translateX(-10) translateY(-10);
    opacity: 1;
  }
  50% {
    
    opacity: 0.8;
  }
  100% {
    /* transform: translateX(-20px); */
    transform: translateX(0px) translateY(30vh);
    width:1px;
    opacity: 0;
  }
  
}


@media (max-width: 1490px) {
  body {
    background-color: black;
  }
  .coffeeCup {
    opacity: 0.3;
    width: 60%;
    height:122px;
  }
  .cafeHold{
    border:solid black;
    display:flex;
  }
  .splasher{
    /* border:solid white; */
    width:60%;
  }
  .holderContainer{
    /* border:solid black; */
    display:block;
  }
}
@media (max-width: 990px) {
  body {
    background-color: burlywood;
  }
  .coffeeCup {
    opacity: 0.3;
    width: 100%;
    height:auto;
  }
  .cafeHold{
    display:flex;
  }
  .splasher{
    /* border:solid white; */
    width:50%;
  }
  .holderContainer{
    border:solid black;
    display:block;
    width:60%;
  }
}
@media (max-width: 690px) {
  body {
    background-color: peru;
  }
  .coffeeCup {
    opacity: 0.3;
    width: 50%;
    height:auto;
  }
  .cafeHold{
    display:block;
  }
  .splasher{
    /* border:solid white; */
    width:100%;
  }
  .holderContainer{
    /* border:solid black; */
    display:flex;
    width:100%;
  }
}

.navContainer {
  border: 0.2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.tabContainer {
  /* border:solid red; */
  display: flex;
  justify-content: space-around;
  width: 45%;
}
.logo {
  height: 50px;
}

.javaContainer {
  border: 0.2px solid black;
  display: flex;
  /* background-image: url('https://media3.giphy.com/media/azqIclO2IYLqBbGJAT/giphy.gif?cid=6c09b9522i7vwh72tl1943xmrq0o17t8hi6zzqiwmr62sqxl&ep=v1_gifs_search&rid=giphy.gif&ct=g'); */
  background-size: cover;
  opacity: 0.3;
}
.hiddenTool {
  border: solid red;
  display: none;
}
.optionContainer {
  border: 0.2px solid black;
  height: 55vh;
  margin: 1.2em;
}

.catcherCup {
  margin-top: 50%;
  height:150px;
}
.coffeebean {
    position: absolute;
    top: 89vh; /* Start slightly above the viewport */
    left: 50%; /* Center horizontally (can be randomized for multiple snowflakes) */
    width: 30px; /* Size of the snowflake */
    height: 30px;
    opacity: 1;
    animation: snowFall 5s linear infinite; /* Adjust duration for speed */
    margin:1em;
}
.test{
    border:solid green;
    height:22px;
    display: flex;
    justify-content: space-evenly;
}
.spacer{
    height:200px;
}
.cafeController{
  border:solid black;
  display:flex;
  justify-content: space-evenly;

}
.savingsBlock{
  border:solid peru;
  display:flex;
  justify-content: space-evenly;
  font-size:25px;
}

.insertPH{
  border: .2px solid white;
  margin:.3em;
  width:40px;
  color:burlywood;
  text-align:center;
  
}
.scoreboard{
  border:solid white;
  color:burlywood;
  
  /* display:flex; */
  justify-content: space-between;
  background-color: black;
}

.formContainer{
  border:solid peru;
  
  width:100%;
  text-align:center;
  padding:12px;

}

.playerStart{
  text-align:right;
}
.game-container {
  position: relative;
  width: 600px;
  height: 500px;
  border: 2px solid black;
  overflow: hidden;
  background-color: burlywood;
}

.movable {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
  transform: translateX(-50%);
}

.intractable {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: rgb(63, 40, 27);
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

.woffordContainer{
  /* border:solid black; */
  /* height:32px; */
  margin:1em;
}
.local{
  /* border:solid navy; */
  /* margin:1em; */
}
.north,.south{
  /* border:solid blue; */
  /* height:22px; */
  display:flex;
  justify-content: space-evenly;
  margin:1em;
}
.selectItem{
  border:.2px solid black;
  width:40%;
  text-align:center
}
.selectItem:hover{
  border:.2px solid black;
  width:40%;
  text-align:center;
  -webkit-box-shadow: 1px 6px 16px 3px #834315; 
box-shadow: 1px 6px 16px 3px #834315;
}

.shadowScrn{
  text-align:center;
  color:white;
}